<ion-view title="Home">

  <ion-pane>

    <ion-content scroll="false" >
      <div class="button-bar">
        <a class="button button-clear menu-button" href="#/home/page2"><i id="sec" class="icon ion-map menu-icon">
          <p>Luoghi</p>
        </i></a>
        <a class="button button-clear menu-button" href="#/page4"><i class="icon ion-map menu-icon"></i></a>
        <a class="button button-clear menu-button" onclick="alert('ciao');"><i class="icon ion-map menu-icon"></i></a>
      </div>
      <div class="button-bar">
        <a class="button button-clear menu-button" onclick="alert('ciao');"><i class="icon ion-map menu-icon"></i></a>
        <a class="button button-clear menu-button" onclick="alert('ciao');"><i class="icon ion-map menu-icon"></i></a>
        <a class="button button-clear menu-button" onclick="alert('ciao');"><i class="icon ion-map menu-icon"></i></a>
      </div>
      <div class="button-bar">
        <a class="button button-clear menu-button" onclick="alert('ciao');"><i class="icon ion-map menu-icon"></i></a>
        <a class="button button-clear menu-button" onclick="alert('ciao');"><i class="icon ion-map menu-icon"></i></a>
        <a class="button button-clear menu-button" onclick="alert('ciao');"><i class="icon ion-map menu-icon"></i></a>
      </div>


    </ion-content>
  </ion-pane>

</ion-view>
