<ion-view title="Info">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <h1>Posto X</h1>
      <img class="fake-image" src="img/politeama.jpg"></img>
      <h2>Descrizione</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel placerat tellus. Nunc quis ullamcorper ante. Proin fringilla lectus lorem, vel aliquet purus rhoncus ut. Maecenas nunc purus, finibus id tincidunt sed, sollicitudin luctus mauris. Nunc nec cursus leo, at varius turpis. Fusce sit amet enim at lacus porttitor fermentum quis nec lectus. Nulla congue ipsum odio, vel semper dui gravida consequat. Phasellus vel lorem feugiat est hendrerit sodales vel sed ipsum. Nulla facilisi. Integer eget elementum sem. Ut a ante orci.

Integer ipsum mi, egestas vitae libero non, tempus vulputate leo. Nullam vel lacinia enim. Aliquam erat volutpat. Nunc tempor nisi leo, sit amet pellentesque mi fermentum nec. Suspendisse mattis feugiat tellus, pharetra scelerisque erat hendrerit id. Maecenas elementum in sem non lobortis. Pellentesque augue augue, venenatis nec auctor eu, cursus imperdiet nisl.

Nullam vitae leo facilisis dui ultrices commodo. Phasellus non porta libero. Ut pretium lectus odio, a vulputate est dapibus non. Vivamus ultricies ligula ipsum, vel iaculis velit lacinia nec. Etiam sit amet neque pretium libero mollis rhoncus ut ut leo. Nam vel molestie nibh. Nullam interdum iaculis nunc vitae rhoncus. Donec sollicitudin efficitur arcu vel aliquet. Praesent vehicula at est et convallis. Vestibulum eget nisl tincidunt, sodales metus vel, imperdiet est. Phasellus a nisi eu augue vestibulum consequat.<p>
    </ion-content>
</ion-view>
