<ion-view title="Page">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class="flex-container-v">
        <div class="flex-container-h margine-top">
          <div class="flex-item">
            <div class="tasto-home">
              <a href="#/home/page2">
                <i class = "icon ion-map icona-home"></i>
              </a>
            </div>
            <p>Home 1</p>
          </div>
          <div class="flex-item">
            <div class="tasto-home"></div>
            <p>Home 2</p>
          </div>
          <div class="flex-item">
            <a href="#/home/page2">
              <div class="tasto-home"></div>
            </a>
            <p>Home 3</p>
          </div>
        </div>
          <div class="flex-container-h">
          <div class="flex-item"></div><div class="flex-item"></div><div class="flex-item"></div>
        </div>
          <div class="flex-container-h">
          <div class="flex-item"></div><div class="flex-item"></div><div class="flex-item"></div>
        </div>
      </div>
    </ion-content>
</ion-view>
